.listLayout {
  .productListItem {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
  }

  .productListDetail {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    padding: 1.5rem;
    width: 100%;
  }

  .productName {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .productDescription {
    margin: 0 0 1rem 0;
  }

  .productCategoryIcon {
    vertical-align: middle;
    margin-right: .5rem;
  }

  .productCategory {
    font-weight: 600;
    vertical-align: middle;
  }

  .productPrice {
    align-self: center;
  }

  .img {
    width: 150px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-right: 2rem;
  }

  .productPrice {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .5rem;
    align-self: flex-end;
  }

  .checkbox {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
  }
}

@media screen and (max-width: 576px) {
  .productListItem {
      flex-direction: column;
      align-items: center;
  }

  .img {
      width: 75%;
      margin: 2rem 0;
  }

  .productListDetail {
      text-align: center;
  }

  .productListAction {
      display: flex;
      flex-direction: column;
  }

   .productListAction {
      margin-top: 2rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
  }
}
