
/* DataViewDemo.css */
.title {
  color: #f30018;
  text-decoration: none;
}

.p-dropdown {
  width: 14rem;
  font-weight: normal;
}

.product-list-item .p-rating {
  margin: 0 0 .5rem 0;
}

.product-list-item .product-price {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: .5rem;
  align-self: flex-end;
}

.product-list-item .p-button {
  margin-bottom: .5rem;
}

.product-grid-item {
  margin: .5em;
  border: 1px solid var(--surface-border);
  padding: 2rem;
}

.product-grid-item .product-grid-item-top,
   .product-grid-item .product-grid-item-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-grid-item img {
  width: 75%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 2rem 0;
}

.product-grid-item .product-grid-item-content {
  text-align: center;
}

.product-grid-item .product-price {
  font-size: 1.5rem;
  font-weight: 600;
}
