.commentCard{
  display: grid;
  align-items: center;
  grid-template-columns: 5% 20% 75%;
}

.resourceHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 96vw;
}

@media screen and (max-width: 576px) {
  .productItem {
      flex-wrap: wrap;
  }

  .productItem .imageContainer {
      width: 100%;
      text-align: center;
  }

  .productItem img {
      margin: 0 0 1rem 0;
      width: 100px;
  }

  .cardFull{
    width: 100%;
    height: 100%; ;
  }
}
