.colFW {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}

.resourceGridItem {
  margin: 0.5em;
  border: 1px solid var(--surface-border);
  padding: 1rem;
  transition: all 0.5s ease-out;
  &:hover {
    border: 1px solid #3d3fb5;
    background-color: rgba(61, 63, 181, 0.05);
    transform: scale(1.05);
  }
}

.img {
  border-radius: 20% 50%;
  transition: all 0.5s ease-out;
  &:hover {
    cursor: pointer;
    border-radius: 50% 20%;
  }
}

.resourceListItem {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.resourceName {
  color: #2a2a33;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  padding: 0.5rem 0 0;
  a {
    color: #2a2a33;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.resourceUrl {
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
  transition: all 0.1s ease-out;
  i {
    color: #3d3fb5;
    font-weight: 600;
  }
  &:hover {
    font-weight: 600;
  }
}

.resourceLink {
  text-align: center;
  margin-top: 1rem;
}

.resourceValidation {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.4rem 0;
  gap: 1rem;
  text-align: center;
}

.resourceHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 95vw;
}

.navButtons {
  display: flex;
  gap: 1rem;
}
